.main-color{
    background-color: hsl(0, 0%, 21%);
    color: hsl(0, 0%, 78%);
    border-color: hsl(0, 0%, 45%);
}

.sub-color{
    background-color: hsl(0, 0%, 11%);
    color: hsl(0, 0%, 52%);
    border-color: hsl(0, 0%, 34%);
}

.highlight-color{
    background-color: hsl(132, 63%, 54%);
    color: hsl(0, 0%, 29%);
    border-color: hsl(132, 65%, 39%);
}