.left-sidebar-menu{
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    position: relative;
    border-style: solid;
    border-width: 2px;
    border-radius: 25px;
    overflow: hidden;
    min-width: max-content;
}

.left-sidebar-menu > button{
    background-color: transparent;
    border-color: transparent;
    color: hsl(0, 0%, 50%);
    padding:  0 15px 3px 15px;
    z-index: 1;
}

.left-sidebar-menu > div{
    background-color: white;
    border-radius: 25px;
    border-style: solid;
    border-width: 2px;
    position: absolute;
    left: 3%;
    height: 55%;
    width: 52px;
    z-index: 0;
    transition: width 0.2s, left 0.2s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

button:hover{
    color: white;
}

button:focus{
    color: hsl(0, 0%, 50%);
    transition: color 1ms;
    transition-delay: 160ms;
    transition-timing-function: ease-in-out;
}

.content-area{
    z-index: 3;
    position: relative;
    padding: 10px 40px;
    padding-bottom: 0;
    max-height: 87%;
    overflow-y: scroll;
    border-style: solid;
    border-width: 2px 0 0;
    border-color: #313131;
}

/* News panel */
.news-panel > img{
    width: 100%;
    border-radius: 15px;
}
.news-panel div > h3, .news-panel div > p{
    margin: 5px 0;
}
.news-panel div > p{
    margin-bottom: 15px;
}
.news-panel hr{
    color: #313131;
    border-style: solid;
    border-width: 1px;
}
.news-related-tickers{
    margin: 25px 0 0;
}
.news-related-tickers span{
    border-radius: 15px;
    padding: 0px 15px 3px;
    margin-left: 5px;
    margin-top: 5px;
    display: inline-block;
}

/* Finance panel */
.finance-panel{
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    padding: 20px 40px;
    margin-bottom: 20px;
}
.finance-panel table{
    width: 100%;
    border-collapse: collapse;
}
.finance-panel table tr td:first-child{
    padding-left: 10px;
    font-weight: bold;
    width: 60%;
    color: #808080;
}
.finance-panel table tr:hover{
    background-color: #252525;
    border: none;
}


/* Analysis Panel */
.analysis-panel{
    border: 2px solid;
    padding: 20px 40px;
    margin-bottom: 20px;
    border-radius: 15px;
}
.analysis-panel div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.analysis-panel p{
    margin: 0;
}
.analysis-panel div h1, .analysis-panel div h2{
    margin: 0;
}
.analysis-panel div h1{
    color: #757575;
}
.analysis-panel div h2{
    color: rgb(180,180,0);
    margin-left: 20px;
    text-align: right;
}

/* Recommendation panel */
.recommendation-title{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.recommendation-title h1, .recommendation-title h2{
    margin: 0;
}
.recommendation-title h2{
    margin-bottom: 2px;
}

.recommendation-panel{
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
    padding: 20px 50px;
}

.recommendation-panel hr{
    border-color: #353535;
    border-style: solid;
    border-width: 1px;
    margin: 20px 0;
}

.recommendations{
    display: flex;
    justify-content: space-between;
}

.recommendations p, .recommendations div{
    margin: 0;
}

.recommendations p{
    min-width: 60%;
    text-align: right;
}

.recommendations div:first-child{
    color: hsl(240, 90%, 69%);
}