.main-color{
    color: hsl(0, 0%, 84%);
    background-color: hsl(0, 0%, 17%);
    border-color: hsl(0, 0%, 19%);
}

.sub-color{
    color: hsl(0, 0%, 84%);
    background-color: hsl(0, 0%, 9%);
    border-color: hsl(0, 0%, 23%);
}

.sub-color-2{
    color: hsl(0, 0%, 84%);
    background-color: hsl(0, 0%, 13%);
    border-color: hsl(0, 0%, 23%);
}

.highlight-color{
    color: black;
    background-color: white;
    border-color: hsl(0, 0%, 90%);
}