:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: hsl(0, 0%, 70%);
  background-color: hsl(0, 0%, 13%);
  border-color: hsl(0, 0%, 19%);
}

*{
  scrollbar-width: none;
}

* a{
  color: rgb(72, 99, 237);
  text-decoration: none;
  transition: all 150ms;
}
* a:hover{
  color: hsl(230, 82%, 71%);
}

body{
  margin: 0;
  padding: 0;
}