.right-sidebar > *{
    margin-left: 10%;
    margin-right: 10%;
}
.right-sidebar > p {
    margin-top: 30px;
}
.right-sidebar > h1{
    margin-bottom: 0px;
}
.right-sidebar > h1 > span{
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 100;
}

/* Stock Info */
.right-sidebar > .stock-information{
    margin-top: 0;
    margin-bottom: 0;
    font-size: small;
    color: rgba(255, 255, 255, 0.4);
}
.right-sidebar > .stock-information > b{
    font-size: medium;
}
.right-sidebar > .stock-information > i{
    font-size: medium;
}

/* Predicted price */
.predicted-price-panel{
    display: flex;
    justify-content: space-between;
}
.predicted-price-panel > div{
    width: 31%;
    border-style: solid;
    border-width: 2px;
    border-radius: 15px;
}
.predicted-price-panel > div > p{
    font-size: small;
    padding: 10px;
    margin: 0;
    border-radius: 15px 15px 0 0;
}
.predicted-price-panel > div > p.predicted-price i{
    font-size: large;
}
.predicted-price-panel > div > hr{
    margin: 0;
    border-width: 1px;
    border-style: solid;
}

/* Target price */
.target-price{
    display: flex;
    justify-content: space-between;
    border: 2px solid;
    border-radius: 15px;
}
.target-price div{
    flex-grow: 1;
}
.target-price div h3, .target-price div p{
    margin: 0;
    padding: 10px;
    border-color: #353535;
}
.target-price div p{
    border-style: solid;
    border-width: 2px 0 0;
    background-color: #161616;
    font-style: italic;
}

/* General info */
.general-information-tab{
    width: 90%;
}
.general-information-tab tr td a{
    color: rgb(72, 99, 237);
    text-decoration: none;
}
.general-information-tab tr td:first-child{
    font-weight: bold;
    min-width: 175px;
}